:root {
  --page-width: calc(100vw - 550px);
}
.card-mode,
.edit-mode {
  /* Hover iFrame */
  /* After Zoom In */
}
.card-mode .roam-topbar,
.edit-mode .roam-topbar {
  box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.06);
}
.card-mode .roam-body-main > div:first-child,
.edit-mode .roam-body-main > div:first-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.card-mode .roam-body-main > div,
.edit-mode .roam-body-main > div {
  padding: 0 !important;
}
.card-mode body,
.edit-mode body {
  background: #f2f4f8;
}
.card-mode iframe,
.edit-mode iframe {
  box-shadow: none !important;
}
.card-mode div#app,
.edit-mode div#app {
  box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.06), inset -3px -3px 6px 0px #fff !important;
  border-radius: 8px !important;
}
.card-mode .rm-block__children.rm-level-0,
.edit-mode .rm-block__children.rm-level-0 {
  flex-direction: row;
  flex-flow: row;
  overflow-x: scroll;
}
.card-mode .rm-block__children.rm-level-0 > .roam-block-container,
.edit-mode .rm-block__children.rm-level-0 > .roam-block-container,
.card-mode [style="margin-left: -20px;"] > .roam-block-container,
.edit-mode [style="margin-left: -20px;"] > .roam-block-container {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.06), -8px -8px 16px 0px #fff;
  border-radius: 8px;
  background: #f2f4f8;
  padding: 10px 16px 10px 0;
  margin: 16px;
  min-height: 200px;
  max-width: 400px;
  min-width: 400px;
}
.card-mode [style="margin-left: -20px;"] > .roam-block-container,
.edit-mode [style="margin-left: -20px;"] > .roam-block-container {
  max-width: 740px;
}
.card-mode .rm-block__children.rm-level-0 > .roam-block-container > [style="margin-left: 20px;"] > .roam-block-container,
.edit-mode .rm-block__children.rm-level-0 > .roam-block-container > [style="margin-left: 20px;"] > .roam-block-container {
  box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.06), inset -3px -3px 6px 0px #fff;
  border-radius: 8px;
  background: #f2f4f8;
  padding: 6px 10px 10px 0;
  min-height: 200px;
  margin: 10px;
}
.card-mode .rm-block__children.rm-level-0 img.rm-inline-img,
.edit-mode .rm-block__children.rm-level-0 img.rm-inline-img,
.card-mode .rm-block__children.rm-level-0 svg,
.edit-mode .rm-block__children.rm-level-0 svg {
  max-width: 270px !important;
}
.card-mode [style="margin-left: -20px;"] .rm-block-text,
.edit-mode [style="margin-left: -20px;"] .rm-block-text,
.card-mode .rm-reference-main .rm-block-text,
.edit-mode .rm-reference-main .rm-block-text {
  max-width: initial;
}
.card-mode .roam-article .rm-full-width,
.edit-mode .roam-article .rm-full-width {
  margin-right: 0;
}
.card-mode .block-highlight-blue.block-bullet-view.block-border-left,
.edit-mode .block-highlight-blue.block-bullet-view.block-border-left {
  border-color: #7cccff;
}
span[data-link-title="{"] > span,
span[data-link-title="}"] > span {
  color: #dddcdc !important;
}
code {
  margin-left: 2px;
  border: none;
  background-image: linear-gradient(to right, #f67280, #f8b195);
}
@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #mode-button-cardFlow,
  #mode-button-cardList {
    display: none;
  }
}
.document-mode #mode-button-document,
.card-mode #mode-button-cardList,
.flow-mode #mode-button-cardFlow {
  background: rgba(167, 182, 194, 0.3);
}
.document-mode .roam-block-container,
.card-mode .roam-block-container,
.flow-mode .roam-block-container {
  max-width: none;
}
.document-mode .roam_navigator_hint,
.card-mode .roam_navigator_hint,
.flow-mode .roam_navigator_hint {
  position: relative !important;
}
.document-mode .rm-title-display .roam_navigator_hint,
.card-mode .rm-title-display .roam_navigator_hint,
.flow-mode .rm-title-display .roam_navigator_hint {
  display: inline-block;
  margin-right: 14px;
}
