.flow-mode body {
  background: #f2f4f8;
}
.flow-mode #rm-log-container {
  padding: 0 !important;
}
.flow-mode .block-highlight-blue {
  background-color: #f0bd66;
}
.flow-mode .roam-center > div {
  padding: 0 !important;
}
.flow-mode .roam-article > div:first-child .flex-v-box.roam-block-container.block-bullet-view {
  flex-direction: row;
  width: 400px;
}
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"],
.flow-mode .roam-article > div:first-child [style="margin-left: -20px;"] {
  overflow-x: auto;
  padding-bottom: 10px;
}
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"] > .roam-block-container {
  width: 100vw !important;
}
.flow-mode .roam-article > div:first-child .flex-h-box.flex-align-start.flex-justify-start {
  width: 370px;
  min-height: 100px;
  margin: 20px;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.06), -8px -8px 16px 0px #fff;
  border-radius: 8px;
  background: #f2f4f8;
  padding: 20px 16px 16px 0;
}
.flow-mode .roam-article > div:first-child .block-highlight-blue .flex-h-box.flex-align-start.flex-justify-start {
  box-shadow: none;
}
.flow-mode .roam-article > div:first-child .controls + div {
  /*      box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.06), inset -3px -3px 6px 0px #fff;
      border-radius: 8px;
      background: #f2f4f8;
      min-height: 160px;
      padding: 6px 10px 10px;*/
  height: 160px;
  overflow: scroll;
}
.flow-mode .roam-article > div:first-child .controls + div textarea {
  box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 0.06), inset -3px -3px 6px 0px #fff;
  border-radius: 8px;
  background: #f2f4f8;
  padding: 6px 10px 10px;
}
.flow-mode .roam-article > div:first-child [style="margin-left: 20px;"] {
  margin-left: 400px !important;
}
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"] .rm-resize-img.react-resizable,
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"] .hoverparent.rm-resize-img,
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"] svg {
  max-width: 294px !important;
}
.flow-mode .roam-article > div:first-child [style="margin-left: -27px;"] .kanban-board {
  max-width: 320px !important;
}
