.calendar-mode,
.simple-calendar-mode {
  #rm-log-container {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .roam-article {
      background: #fff;
    }

    .flex-v-box.roam-log-container {
      flex-direction: row;
      overflow: scroll;
    }

    .roam-log-container {
      .roam-log-page {
        padding: 0 20px 16px 30px;
        margin-bottom: 0;
        margin-top: 0;
        width: 33vw;
        min-width: 33vw;
        min-height: 90vh;
        border-right: #dadce0 1px solid;
        border-bottom: #dadce0 1px solid;
        border-top: none;
      }
    }
  }
}

.calendar-mode {
  #rm-log-container {
    [style="margin-top: 24px;"] {
      margin-top: 1440px !important;
    }

    .rm-block__children.rm-level-0 {
      position: relative;
    }

    [data-timestamp] {
      position: absolute;
      width: 100%;
      background: #e4e9ec;
      border: 1px solid #e4e9ec;
      /*
      max-height: 45px;
      overflow: scroll;
      */
      .rm-block-children.rm-block__children.rm-level-1 {
        z-index: 3;
        color: #355c7d;
        background: white;
      }
    }
    textarea,
    .rm-focused {
      z-index: 2;
    }
  }
}

.simple-calendar-mode {
  [data-timestamp] {
    margin-top: 0 !important;
    position: static !important;
    width: 100% !important;
  }
}
