#rm-log-container {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .flex-v-box.roam-log-container {
    flex-direction: row;
    overflow: scroll;
  }
}

.roam-log-container .roam-log-page {
  padding: 0 20px 16px 30px;
  margin-bottom: 16px;
  margin-top: 0;
  min-width: 33vw;
  border-left: 1px solid rgb(115, 134, 148);
  border-top: none;
}
